@charset "utf-8";/*Documento CSS*/

body{
      font-family: arial, helvetica, verdana, sans-serif;
      background-color:#87ceeb;
}

#cabecalho{
              background-color: #0000ff;
              text-align: center;
              border: 2px solid black;
              }
              
h1{ 
   text-shadow: 0.1em 0.1em 0.2em black;
  color: #ffffff;
  font-family: times;
  font-style: italic;
  font-size: 36pt;
}

#formulario{
  border: 2px solid black;
  padding-top: 5px;
  background-color: #ffff00;
  font-weight: bold;
}

fieldset{
  border: none;
}


