<div class="user-details">
  <h1>Sobre Mim</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Em Pitangui/MG</h2>
    
    <img src="https://github.com/edilson-eemao/curriculo2/blob/master/images/Banner%20EEMAO.gif?raw=true" alt="">
    
    <p>Escola Estadual Monsenhor Artur de Oliveira, onde leciono atualmente no ensino médio.</p>
  </div>
  <div class="tech">
    <h2>Em Onça do Pitangui/MG</h2>
   
   <img src="https://github.com/edilson-eemao/curriculo2/blob/master/images/EEZB.jpg?raw=true" alt="">
    
         
    <p>Escola Estadual Zico Barbosa, onde leciono atualmente no ensino fundamental e médio.</p>
  </div>
  <div class="tech">
    
    <h2>Formação continuada</h2>
   <img src="https://github.com/edilson-eemao/curriculo2/blob/master/images/profmat-1.jpeg?raw=true" alt="">
   
    <p>O <b>Mestrado Profissional em Matemática em Rede Nacional</b> – PROFMAT é um programa de mestrado semipresencial na área de Matemática. É formado por uma rede de Instituições de Ensino Superior, no contexto da CAPES, e coordenado pela SBM, com apoio do IMPA.</p>
  </div>
  </div>
  <div>  
  <fieldset>
    <p>Estou construindo um site de conteúdo matemático, com vídeo aulas, simulados de ENEM, dicas de estudo e muito mais! Neste site alunos meus cadastram-se e realizam avaliações de aprendizagem online.</p>
  <p>Acesse <a href="https://raw.githack.com/edilson-eemao/curriculo2/master/pages/Teste.html" title="Cadastre-se">AQUI!</a></p>
  </fieldset>
  </div>

